table {
    font-size: 10px;
    width: 100%;
    table-layout: fixed;
    }

    .scroll {
    border: 0;
    border-collapse: collapse;
    }    
    .scroll tr {
    display: flex;
    }    
    .scroll td {
    flex: 1;
    }    
    .scroll thead tr:after {
    overflow-y: scroll;
    visibility: hidden;
    height: 0;
    }    
    .scroll thead th {
    flex: 1;
    display: block;
    }    
    .scroll tbody {
    display: block;

    overflow-y: auto;
    height: calc(100vh - 300px );
    }

.logout
{
    float: right;
}
